@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  background: black;
  color: white;
}
.btn {
  padding: 2pt 15pt;
  border-radius: 120pt;
}
.btn-primary {
  background: white;
  color: black;
}
.btn-spotify {
  background: #1D8954;
  color: white;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.spinning {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}